:root {
    --bg-color: #0b0a11;
    --body-font-color: #e5e5e5;
    --task-font-color: #e5e5e5;
    --task-border-color: #fdfdfd;
    --task-bg-color-univertsity: #44174e;
    --task-bg-color-home: #662249;
    --task-bg-color-parent: #a34054;
    --task-bg-color-administrative: #ed9e59;
  }
  
  [data-theme="noon"] {
    --bg-color: #1b1931;
    --body-font-color: #e5e5e5;
    --task-font-color: #e5e5e5;
    --task-border-color: #fdfdfd;
    --task-bg-color-univertsity: #44174e;
    --task-bg-color-home: #662249;
    --task-bg-color-parent: #a34054;
    --task-bg-color-administrative: #ed9e59;
  }
  
  [data-theme="default"] {
    --bg-color: rgb(105, 94, 94);
    --body-font-color: #e5e5e5;
    --task-font-color: #3d3846;
    --task-border-color: #494949;
    --task-bg-color-univertsity: #7fa4f5;
    --task-bg-color-home: #ff98a1;
    --task-bg-color-parent: #ffe386;
    --task-bg-color-administrative: #78ff83;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color); /* Light opacity for transparency */
    backdrop-filter: blur(15px); /* Applies blur */
    -webkit-backdrop-filter: blur(15px); /* Applies blur on Webkit engines */
    color: var(--body-font-color);
  }
  
  h1 {
    font-size: 3em;
  }
  
  #app {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  #taskForm > * {
    height: 2.5em;
    font-size: 1em;
    padding: auto;
    margin: 0px 2em 0px 0px;
  }
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--task-font-color);
    margin: 5px 0px;
    border-radius: 5px;
    border-color: var(--task-border-color);
    margin: 0.7em 0em;
  
    transition: box-shadow 0.3s ease;
  }
  
  .task:hover {
    border-color: var(--task-border-color);
    margin: 0.7em 0em;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.671);
  }
  .deleteBtn {
    transition: box-shadow 0.2s ease;
  }
  
  .deleteBtn:hover {
    box-shadow: 4px 4px 4px rgba(47, 47, 47, 0.671);
  }
  
  .task.university {
    background-color: var(--task-bg-color-univertsity);
  }
  .task.home {
    background-color: var(--task-bg-color-home);
  }
  .task.parent {
    background-color: var(--task-bg-color-parent);
  }
  .task.administrative {
    background-color: var(--task-bg-color-administrative);
  }
  .task.done {
    text-decoration: line-through;
    opacity: 0.6;
  }
  